<head>
  %include templates/parts/head.html
</head>
<body>
  <!-- Navigation Bar -->
  %include templates/parts/navBar.html
  <div class="container" id="indexContainer">
    <div class="row" id = "indexHead">      
      <div class="col-sm-12">
        <div id="logo">
          <img id="logoImg" src="img/logo.gif"/>
        </div>
        <div id="headerText" style="padding-bottom:15px;">
          <div id="title">
            CS106AP: Programming Methodologies in Python
          </div>
          <div>
            Winter 2018
          </div>
          <div>
            Monday, Wednesday, Friday 1:30pm to 2:20pm in <a href="https://www.google.com/maps/place/Herrin+Hall/@37.4296807,-122.1737946,17z/data=!3m1!4b1!4m5!3m4!1s0x808fbb2baafff1df:0x66d536493eeae04d!8m2!3d37.4296807!4d-122.1716059">Herrin T175</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row" >
      <div class="col-sm-12" id="infoCol">
        <hr/>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-3" id="infoCol">
        <!-- Links -->
        <div>
          <p class="subtleHeading">RESOURCES</p>
          <span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true"></span>
          <a href="{{pathToRoot}}handouts/CS106AP_Syllabus.html">Syllabus</a><br/>
          <span class="sidebaricon glyphicon glyphicon-th-large" aria-hidden="true"></span>
          <a href="{{pathToRoot}}schedule.html">Course Schedule</a><br/>
          <span class="sidebaricon glyphicon glyphicon-th-large" aria-hidden="true"></span>
          <a href="{{pathToRoot}}software">Software</a><br/>
          <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <a href="https://cs198.stanford.edu/cs106/LairHelp/HelperSchedule.aspx">Help Hours</a><br/>
        </div>        
        <hr/>
        
    <!--     <div>
          <p class="subtleHeading">ASSIGNMENTS</p>
          <div class="well well-sm" style="margin-bottom:10px">
            <a href="{{pathToRoot}}assignments/Assignment-01/">Assn 1: [TBD]</a> 
          </div>
        </div>
        <hr/> 
         -->

        <div>
          <p class="subtleHeading">EXAMS</p>
          <p>
            Midterm<br/>
            <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span> Friday, February 9th <br/>
            <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> In-class
          </p>
          <p>
            Final<br/>
            <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
            [Date]<br/>
            <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> [Time]
          </p>
        </div>
        <hr/>
        <p class="subtleHeading">STAFF</p>
        <p>
          <div class="staffBox">
            <img src="img/people/nick.jpg" style="width:100%"></img>
            Lecturer: 
            <a href="https://cs.stanford.edu/people/nick/">Nick Parlante</a> <br>
            <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:nick.parlante@cs.stanford.edu">nick.parlante@cs</a><br>
            <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Gates 189<br>
            <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>TBD<br/>
          </div>
        </p>
        <p>
          <div class="staffBox" >
            <img src="img/people/jason.jpg" style="width:100%"></img>
            Head TA:  
            Jason Chen<br>
            <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:cheson@stanford.edu">cheson@</a><br>
            <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>TBD<br>
            <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>TBD
          </div>
        </p>
      </div>
      <div class="col-sm-9" >
        <!-- Newsfeed -->
        <div>
          
          <p class="subtleHeading">ANNOUNCEMENTS</p>
        </div>        

        <div class="well">
          <div class="newsfeedHeader">
            <div class="newsfeedTitle">Tiny feedback</div>
            <div class="moment">2018011014</div>
          </div>
          <p>
          Hello! Tiny feedback (as inspired by a previous 106B professor Chris Gregg) is available starting today!  
          
          As instructors, we constantly strive to improve our lectures and the class as a whole. We provide anonymous "Tiny Feedback" opportunities to the class after each lecture, and the feedback helps us guage how CS 106AP is going on a bit more personal level.
          We very much appreciate constructive feedback, and we want to know what is working and what you would like to see us do differently. We will read every piece of feedback and make every attempt to improve the course as the quarter progresses.
         <br/><br/>
         <a href="https://goo.gl/forms/wCWcgD3hij5wcGyu2">Feedback form</a>
         </p>
        </div>

        <div class="well">
          <div class="newsfeedHeader">
            <div class="newsfeedTitle">Section signups</div>
            <div class="moment">2018011013</div>
          </div>
          <p>
          We will begin taking your preferences at 5:00 PM on Thursday, January 11, 2018. Note that signups will then close at 5:00 PM on Sunday, January 14, 2018. If you do not sign up during the regular period, the limited selection for late signups may make it impossible for you to enroll in a CS106 class. So please make sure to submit your preferences by the deadline.
          </p>
          <a href="https://cs198.stanford.edu/cs198/auth/default.aspx">Section signup link</a>
        </div>

        <div class="well">
          <div class="newsfeedHeader">
            <div class="newsfeedTitle">Welcome</div>
            <div class="moment">2018010814</div>
          </div>
          <p>
            Welcome to CS106AP! We are looking forward to a fun quarter. Class starts Monday, January 8th at 1:30pm in Herrin T175.
            <div class="mapOverlay" onClick="style.pointerEvents='none'"></div>
            <div class="google-maps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.3142403602283!2d-122.17379458421048!3d37.42968067982381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2baafff1df%3A0x66d536493eeae04d!2sHerrin+Hall!5e0!3m2!1sen!2sus!4v1515443774943" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </p>
        </div>
      </div>
   
    </div>
    %include templates/parts/footer.html
    </div>
  
  <script type="text/javascript">
    $(".moment").each(function(i) {
      var date = $(this).html()
      var fromStr = moment(date, "YYYYMMDDHH").fromNow()
      $(this).html(fromStr)
    });
    //alert(moment("20160101", "YYYYMMDD").fromNow())
  </script>  
</body>
