<head>
  %include templates/parts/head.html
</head>

<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<h3> If you ever have a conflict with attending your own section, feel free to attend any of the sections listed. Just tell the SL you are making up a section. </h3>

	<div class="bs-example">
		<!-- Row -->
	    <div class="row">

	      <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/michael.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Michael Chung</b>
			        <div>TBD</div>
			        <div>Thurs 10:30am-11:20am</div>
		    	</h5>
		      </div>
		    </div>
	      </div>
 	  <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/jason_lin.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Jason Lin</b>
			        <div>TBD</div>
			        <div>Thurs 11:30am - 12:20pm</div>
		    	</h5>
		      </div>
		    </div>
	      </div>
	  <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/janel.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Janel Lee</b>
			        <div>TBD</div>
			        <div>Thurs 1:30pm - 2:20pm</div>
		    	</h5>
		      </div>
		    </div>
	      </div>
	  <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/pras.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Pras Ramakrishnan</b>
			        <div>TBD</div>
			        <div>Thurs 2:30pm - 3:20pm</div>
		    	</h5>
		      </div>
		    </div>
	      </div>
 	  <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/placeholder.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Michael Troute</b>
			        <div>TBD</div>
			        <div>Thurs 3:30pm - 4:20pm</div>
		    	</h5>
		      </div>
		    </div>
	      </div>
	 <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/jonathan.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Jonathan Selman</b>
			        <div>TBD</div>
			        <div>Thurs 4:30pm - 5:20pm</div>
		    	</h5>
		      </div>
		    </div>
	      </div>

	  </div>

	  <!-- Row -->
	  	    <div class="row">

	      <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/katherine.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Katherine Erdman</b>
			        <div>TBD</div>
			        <div>Thurs 7:30pm - 8:20pm</div>
		    	</h5>
		      </div>
		    </div>
	      </div>
 	  <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/placeholder.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Patrick DeMichele</b>
			        <div>TBD</div>
			        <div>Fri 2:30pm - 3:20pm</div>
		    	</h5>
		      </div>
		    </div>
	      </div>
	  <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/kush.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Kush Khosla</b>
			        <div>TBD</div>
			        <div>Fri 3:30pm - 4:20pm</div>
		    	</h5>
		      </div>
		    </div>
	      </div>
	  <div class="col-sm-2">
	        <div class="thumbnail">
		      <img src="img/people/glenn.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		      	<h5>
			        <b>Glenn Yu</b>
			        <div>TBD</div>
			        <div>Fri 4:30pm - 5:20pm</div>
		    	</h5>
		      </div>
		    </div>
	      </div>

	  </div>
</div>
</body>
