<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="{{pathToRoot}}">CS106AP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}lectures/Code-1 Introduction.html">01 Introduction</a></li>
      <!--       <li><a href="{{pathToRoot}}lectures/01-CS106J-Introduction">01 CS106J Introduction</a></li>
            <li><a href="{{pathToRoot}}lectures/02-Programming-In-Karel">02 Programming In Karel</a></li>
            <li><a href="{{pathToRoot}}lectures/03-Stepwise-Refinement">03 Stepwise Refinement</a></li> -->
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Handouts<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}handouts/CS106AP_Syllabus.html">01 Syllabus</a></li>
    <!--         <li><a href="{{pathToRoot}}handouts/01-GeneralInformation.pdf">01 General Information</a></li>
            <li><a href="{{pathToRoot}}handouts/02-Calendar.pdf">02 Course Calendar</a></li>
            <li><a href="{{pathToRoot}}handouts/03-ProgrammingInKarel.pdf">03 Programming In Karel</a></li>
            <li><a href="{{pathToRoot}}handouts/03A-ClassExamples.pdf">03A Class Examples</a></li>
            <!-- <li><a href="{{pathToRoot}}handouts/3 - Course Communication.pdf">3-Course Communication</a></li>
            <li><a href="{{pathToRoot}}handouts/4 - Honor Code.pdf">4-Honor Code</a></li>
            <li><a href="{{pathToRoot}}handouts/5 - Karel In Eclipse.pdf">5-Karel in Eclipse</a></li>
            <li><a href="{{pathToRoot}}handouts/6 - Assignment-1.pdf">6-Assignment-1</a></li>
            <li><a href="{{pathToRoot}}handouts/7 - Submitting Work.pdf">7-Submitting Work</a></li>
            <li><a href="{{pathToRoot}}handouts/8 - Karel Examples.pdf">8-Karel Examples</a></li> -->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignments <span class="caret"></span></a>
          <ul class="dropdown-menu">
           
          <!--   <li><a href="https://goo.gl/forms/x2HTAbJ8soIMCztg1">0-Who are you</a></li>
            <li><a href="{{pathToRoot}}assn/karel.html">1-Karel</a></li> -->
            <li><a>1-TBD</a></li>
            <li><a>2-TBD</a></li>
            <li><a>3-TBD</a></li>
            <li><a>4-TBD</a></li>
            <li><a>...</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://cs198.stanford.edu/cs198/auth/default.aspx">Section signup</a></li>
            <li><a href="{{pathToRoot}}sectionInfo.html">List of all section times/locations</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{pathToRoot}}schedule.html"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Schedule</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://goo.gl/forms/wCWcgD3hij5wcGyu2"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>Feedback Form</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
