 <tr>
  <td class="calendarWeekCell">10</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">March 12th</p>
      Conclusions<br/>  

  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">March 14th</p>
      No class<br/>  
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">>March 16th</p>
      No class<br/>  

  </td>
</tr>
