 <tr>
  <td class="calendarWeekCell">7</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 19th</p>
      Presidents' Day - No class<br/>  

  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 21st</p>
      More complex algorithms<br/>  
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 23rd</p>
      Whole-program issues<br/>  

  </td>
</tr>
