 <tr>
  <td class="calendarWeekCell">6</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 12th</p>
      Dictionaries, efficient storage of mass information<br/>  

  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 14th</p>
      Dictionaries, efficient storage of mass information<br/>  
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 16th</p>
      Dictionaries, efficient storage of mass information<br/>  

  </td>
</tr>
