 <tr>
  <td class="calendarWeekCell">4</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections 4.1-4.2
        <br>Lecturing: Jerry
      </div> -->
      <p class="subtleHeading">January 29th</p>
      Strings, files, lists, decomposition<br/>  

  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections 4.3-4.4
        <br>Lecturing: Jerry
      </div> -->
      <p class="subtleHeading">January 31st</p>
       Strings, files, lists, decomposition continued<br/>  
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections 5.1-5.4
        <br>Lecturing: Jerry
      </div> -->
      <p class="subtleHeading">February 2nd</p>
      Strings, files, lists, decomposition continued<br/>  

  </td>
</tr>
