 <tr>
  <td class="calendarWeekCell">8</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 26th</p>
      Advanced topics<br/>  

  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 28th</p>
      Advanced topics<br/>  
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">March 2nd</p>
      Advanced topics<br/>  

  </td>
</tr>
