<tr>
  <td class="calendarWeekCell">2</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections: 2.1-2.4
        <br>Lecturing: Eric
      </div> -->
      <p class="subtleHeading">January 15th</p>
      MLK holiday - No class <br/>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections 2.5-2.6
        <br>Lecturing: Jerry
      </div> -->
      <p class="subtleHeading">January 17th</p>
      Image processing<br/>
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections 3.1-3.5
        <br>Lecturing: Eric
      </div> -->
      <p class="subtleHeading">January 19th</p>
      Image processing continued<br/>
  </td>
</tr>
