 <tr>
  <td class="calendarWeekCell">3</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections 4.1-4.2
        <br>Lecturing: Jerry
      </div> -->
      <p class="subtleHeading">January 22nd</p>
      Image processing continued<br/>  

  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections 4.3-4.4
        <br>Lecturing: Jerry
      </div> -->
      <p class="subtleHeading">January 24th</p>
      Drawing<br/>
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections 5.1-5.4
        <br>Lecturing: Jerry
      </div> -->
      <p class="subtleHeading">January 26th</p>
      Drawing continued<br/>

  </td>
</tr>
