 <tr>
  <td class="calendarWeekCell">5</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 5th</p>
      File processing<br/>  

  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 7th</p>
       Midterm review<br/>  
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">February 9th</p>
      MIDTERM (in-class)<br/>  

  </td>
</tr>
