<tr>
  <td class="calendarWeekCell">1</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
 <!--      <div class="inOut">
        <br><i>No Assigned Reading</i>
      </div> -->
      <p class="subtleHeading">January 8th</p>
      Administration<br/>
      Course overview<br/>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: [READING]
      </div> -->
      <p class="subtleHeading">January 10th</p>
      Binky<br/>
      Syntax errors, logic<br/>
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
<!--       <div class="inOut">
        <br>Read: Sections 1.4-1.5
        <br>Lecturing: Jerry
      </div> -->
      <p class="subtleHeading">January 12th</p>
      Loops<br/>
      Functions<br/>
<!--       Problem-solving in Karel<br/>
      Problem Decomposition<br/>
      The idea of an algorithm<br/> -->
  </td>
</tr>
