<!--
    Holidays Spring 2017:
    Jan 16th MLK
    Feb 20th President's Day
    First day of class: April 3rd
    Last day of class: June 7th

    Assns:
    1. Karel
    2. Simple JS
    3. Breakout
    4. Hangman
    5. Yahtzee
    6. FacePamphlet
-->
<div class="table-responsive">
  <table class="table table-bordered">
    %include templates/parts/schedule-header.html
    %include templates/parts/schedule-week-1.html
    %include templates/parts/schedule-week-2.html
    %include templates/parts/schedule-week-3.html
    %include templates/parts/schedule-week-4.html
    %include templates/parts/schedule-week-5.html
    %include templates/parts/schedule-week-6.html
    %include templates/parts/schedule-week-7.html
    %include templates/parts/schedule-week-8.html
    %include templates/parts/schedule-week-9.html
    %include templates/parts/schedule-week-10.html
  </table>
</div>
