 <tr>
  <td class="calendarWeekCell">9</td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">March 5th</p>
      Advanced topics<br/>  

  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">March 7th</p>
      Advanced topics<br/>  
    </div>
  </td>
  <td class="calendarCell col-sm-3">
    <div style="position:relative">
      <p class="subtleHeading">March 9th</p>
      Advanced topics<br/>  

  </td>
</tr>
